<table class = "table my-table">
  <thead class = "table-primary">
    <tr>
      <th scope="col">id</th>
      <th scope="col"><%=t("email")%></th>
      <th scope="col"><%=t("lock")%></th>
    </tr>
  </thead>
  <tbody>
    <% User.all.each do |cu| %>
        <tr>
            <th scope="row"><%=cu.id%></th>
            <td><%=cu.email%></td>
            <td>
            <%unless cu.superuser?%>
                <%if cu.is_active?%>
                <%= link_to t("lock"), toggle_active_user_path(cu), method: :put, :class => "toggle-active-button btn btn-danger" %>
                <%else%>
                <%= link_to t("unlock"), toggle_active_user_path(cu), method: :put,  :class => "toggle-active-button btn btn-success" %>

                <%end%>
            <%else%>
                <%=t("superuser")%>
            <%end%>
            </td>
        </tr>

    <%end%>
  </tbody>
</table>