<div class = "form_for_posts_create">
<h2><%=t("create_your_posts")%></h2>


<%= form_for :post, url: posts_path do |f|%>
    
    <% if @post.errors.any?%>
        <% @post.errors.full_messages.each do |msg| %>
            <% puts "ОШИБКА: " + msg %>
            <div class = "alert alert-danger" role="alert"><%= msg %></div>
        <% end %>
    <% end %>

    <p>
        <b class = "field_caption"><%=t("post.title")%></b><br/>
        <%=f.text_field(:title, {:class => 'form-control'}) %>
    </p>

    <p>
        <b class = "field_caption"><%=t("post.text")%></b><br/>
        <%= f.text_area(:body, {:class => 'form-control form_text_area'}) %>
    </p>
    <p>
        <%= f.submit({:class => 'btn btn-success', :value => t('to_publish')}) %>
    </p>
<% end %>
</div>