<div class = "show_articles">
  <br/>
    <h1 class = "post-title"><%= @post.title %></h1>
    <p class = "post-info"><%=t("post.author")%>: <%=@post.author%> | <%= @post.created_at %></p>
    <hr>
    <p style = "white-space: pre-line; font-size : 1.5em; padding : 5%;"><%= @post.body %></p>
    <hr>
    <p class = "comments-title"><%= t("comments")%></p>

    

    <hr>

    <%= link_to t("back"), :home, :class => "btn btn-secondary", :style => "
  margin: 0 auto;
  display: block;
  width: 20%;" %>
</div>